@import url('https://fonts.googleapis.com/css2?family=Inter&family=Roboto:wght@400;700&family=Titillium+Web&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Advent+Pro:ital,wght@0,100..900;1,100..900&family=Cabin:ital,wght@0,400..700;1,400..700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  font-family: 'Roboto', sans-serif;
  background-color: #205115;
  box-sizing: border-box;
  padding: 29px;
  height: 100%;
}

.main {
  background-color: #F3F8E8;
  border-radius: 50px;
  max-width: 100%;
  min-height: 100%;
  margin: 0 auto;
  padding: 1rem;
  padding-top: 2rem;
  text-align: center;
  background-image: url(/public/Group-76.svg);
  background-repeat: no-repeat;
  background-position: bottom;
}

h1 {
 font-family: 'Cabin', sans-serif;
 font-size: 128px;
 font-weight: bold;
 color: #205115;
 letter-spacing: 10px;
}

h2 {
  font-family: "Advent Pro", sans-serif;
  font-size: 96px;
  font-weight: normal;
  letter-spacing: 10px;
  color: #205115;
}

h3 {
  margin-bottom: 1rem;
}

section ul {
  list-style: none;
}

section ul li {
  border: 1px solid #ccc;
  border-radius: 10px;
  padding: 1rem;
  margin-bottom: 1rem;
}

.content,
p {
  padding: 1rem 0;
}

.centered {
  text-align: center;
}

.control {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 0.5rem 1rem;
  width: 100%;
  margin-bottom: 1rem;
}

/* accoint styles down below */

.account-lobbie {
  background-color: #F3F8E8;
  border-radius: 50px;
  max-width: 100%;
  min-height: 100%;
  margin: 0 auto;
  padding: 2rem;
  background-image: url(/public/account-background.svg);
  background-repeat: no-repeat;
  background-position: center;
  text-align: center;
}

.heading-account {
  font-family: 'Cabin', sans-serif;
  font-size: 40px;
  font-weight: bold;
  color: #205115;
  letter-spacing: 5px;
}

.sub-heading-account {
  font-family: "Advent Pro", sans-serif;
  font-size: 36px;
  font-weight: normal;
  letter-spacing: 5px;
  color: #205115;
}

.account-header {
  display: flex;
  align-items: stretch;
  justify-content: space-between;
}

.lobbies-container {
  width: 727px;
  height: 643px;
  border-radius: 34px;
  box-shadow: 0 0 21.8px 7px #20511520;
  background-color: #F3F8E8;
  margin: 0 auto;
  box-sizing: border-box;
  padding: 23px;
  overflow-y: scroll;
  text-align: center;
}

.lobby-parent {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.lobbies {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.lobby-heading {
  font-family: "Advent Pro", sans-serif;
  font-size: 36px;
  font-weight: 500;
  letter-spacing: 5px;
  color: #205115;
  margin-bottom: 10px;
}

/* lobby */

.lobby {
  width: 682px;
  height: 116px;
  background-color: #436F39;
  border-radius: 24px;
  box-shadow: 0 4px 5.5px 0 #20511520;
  margin-bottom: 19px;
  box-sizing: border-box;
  padding: 23px 31px 24px 28px;
  gap: 21px;
  display: flex;
  flex-direction: column;
  background-image: url(/public/lobby-cell-background.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.lobby-top {
  display: flex;
  justify-content: space-between;
}

.lobby-top p{
  padding: 0;
  margin: 0;
  color: #F3F8E8;
}

.lobby-bottom {
  display: flex;
  justify-content: space-between;
}

.lobby-bottom p{
  padding: 0;
  margin: 0;
  color: #F3F8E8;
}

.join-btn, .close-modal-btn {
  width: 168px;
  height: 30px;
  background-color: #ED1D24;
  border-radius: 10px;
  border: none;
  color: #F3F8E8;
  font-family: 'Advent Pro';
  font-size: 18px;
  letter-spacing: 1px;
  line-height: 22px;
  cursor: pointer;
}

/* create-lobby-btn */
.create-lobby-btn-modal {
  width: 168px;
  height: 30px;
  background-color: #436F39;
  border-radius: 10px;
  border: none;
  color: #F3F8E8;
  font-family: 'Advent Pro';
  font-size: 18px;
  letter-spacing: 1px;
  line-height: 22px;
  cursor: pointer;
  margin-right: 5px;
}

.create-lobby-btn {
  width: 168px;
  height: 30px;
  background-color: #436F39;
  border-radius: 10px;
  border: none;
  color: #F3F8E8;
  font-family: 'Advent Pro';
  font-size: 18px;
  letter-spacing: 1px;
  line-height: 22px;
  cursor: pointer;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-content {
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  width: 400px;
  text-align: center;
}

.close-modal-btn {
  margin-top: 10px;
}

.p {
  padding: 0;
  margin-bottom: 5px;
}
.p-heading {
  padding: 0;
  margin-bottom: 20px;
  font-weight: 500;
  font-size: 22px;
}
.time-chose-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.lobby-passwd-input {
  width: 244px;
  height: 36px;
  background-color: #F3F8E8;
  font-family: 'Advent pro';
  font-size: 16px;
  border: 1px solid #436F39;
  border-radius: 9px;
  outline: none;
  padding-left: 20px;
  font-weight: 500;
  color: #436F39;
}
